.square {
    border: transparent;
    float: left;
    line-height: 34px;
    height: 8vw;
    width: 8vw;
    max-width: 12vh;
    max-height: 12vh;
    padding: 0;
    text-align: center;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dark-square {
    background-color: #6F73D2;
}

.light-square {
    background-color: #9DACFF;
}

.li {
    list-style-type: none;
}

.ul {
    margin-left: 2px;
    padding-left: 2px;
    margin-top: 0;
    padding-top: 0;
}